.page 
{
    width:60%;
    height:90vh;
    padding:10px;
    /* box-shadow: 5px 10px 28px rgb(208, 205, 205); */
    background-color: bisque;
    margin:1% 20% 1% 20%;
}
.page .photo
{
    text-align: center;
}
.page .des
{
    margin:5% 10% 5% 10%;
}
.page .des p{
    font-size: 20px;
}
.page img{
    /* width:25%; */

    border-radius:50%;
    height:200px;
    width:200px;
    /* border:1px solid red; */
    margin-top:3%;

}
.page i{
    font-size:20px;
    margin:5px;
}
.page b{
    font-size:30px;
    text-align:center
}

